:root {
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
  font-family: "Outfit";
  color: var(--Stone-900);
  font-size: 1em;
  display: flex;
  justify-content: center;
}
@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format(truetype);
}
@font-face {
  font-family: "Young Serif";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format(truetype);
}
body {
  background-color: var(--Stone-100);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
main {
  background-color: white;
  width: 48%;
  padding: 40px;
  border-radius: 20px;
}
main img {
  width: 100%;
  border-radius: 16px;
}
main h1 {
  font-family: "Young Serif";
  color: var(--Stone-900);
  font-size: 2.25em;
}
main section {
  font-family: "Outfit";
  background-color: var(--Rose-50);
  padding: 10px 30px 10px 30px;
  color: var(--Rose-800);
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

main article:not(.nutrition) {
  border-bottom: 1px solid var(--Stone-150);
  margin-top: 40px;
  margin-bottom: 40px;
}
main section h1 {
  color: var(--Rose-800);
  font-family: "Outfit";
  font-size: large;
}
main article li::marker {
  color: var(--Brown-800);
}
main :where(ul, ol) {
  padding-left: 1.5em;
}
main :where(ul, ol) li {
  padding: 0 0 10px 20px;
}
main :where(ul, ol) li::marker {
  color: var(--Brown-800);
}

main h2 {
  font-family: "Young Serif";
  color: var(--Brown-800);
}
main table {
  border-collapse: collapse;
  width: 100%;
}
main table th {
  text-align: left;
  font-weight: 400;
  padding: 15px;
}
main table td {
  font-weight: 600;
  color: var(--Brown-800);
}
main table tr {
  border-bottom: 1px solid var(--Stone-150);
}
@media (max-width: 375px) {
  body {
    padding: 0;
    margin: 0;
  }
  main {
    width: 100%;
    border-radius: 0;
  }
  main h1 {
    font-size: 2em;
  }
}
